* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
    color: #fff;
}

html,
body {
    height: 100%;
    width: 100%;
    background-color: black;
}

#name{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 75px;
    background-color: red;
    overflow: hidden;
}

h1 span{
    display: inline-block;
}

#page1, #page2, #page3{
    width: 100%;
    height: 10vh;
}

#move{
    background-color: lawngreen;
    padding: 0px 50px;
    display: flex;
}
.marque{
    display: flex;
    align-items: center;
    flex-shrink: 0;
    transform: translateX(-100%);
}

.marque h1{
    font-size: 70px;
}

.marque img{
    height: 50px;
    margin-top: 10px;
}